.wrapper {
    background-color: antiquewhite;
}
.menu {
    background-color: black;
    color: white;
    margin-bottom: 20px;
}
.menu h5, 
.menu p {
    margin: 20px;
    display: inline;
    margin-right: 10px;
}
.content{
    width: 90%;
    border: 2px solid red;
}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 50%; /* Adjust width for screens up to 768px */
    }
}

@media screen and (max-width: 480px) {
    .wrapper {
        width: 70%; /* Adjust width for screens up to 480px */
    }
}
.cart {
    border: 2px solid blue;
    width: 90%;
    padding: 20px;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;

}

.dragArea {
    width: 90%;
    height: 150px;
    color: white;
    background-color: black;
    margin: 0 auto; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.products{
    display:flex;
    align-items: center;
    justify-content: center;
    border: 3px solid pink;
}

.product {
    width: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 30px;
    background-color: white;
    color:purple;
    padding: 30px;
    height: 150px;
}
.product img {
    margin-bottom: 20px;
}
.product h5,
.product p {
    font-size: 0.8em;
    padding: 2px;
}
.product button {
    margin-top: 10px;
    background-color: black;
    color: white;
}
.disappear {
    display:none;
}