
#productTable {
    margin-left: auto;
    margin-right: auto;
}

.rowWrapper {
    border: 3px solid pink;
    width: 300px;
}
td {
    display: block;
    padding: 5px;
}


tr {
    margin-left: auto;
    margin-right: auto;
    display: table;
    text-align: center;
    padding: 20px;
}


td div {
    width: 30px;
    height: 30px;
    background-color: thistle;
    display:inline-block;
}

.buttonDiv {
    text-align: center; /* Align buttons in the center horizontally */
    margin-top: 20px; /* Add some space between the buttons and the table */
}

.buttonDiv button {
    margin: 10px;
    padding:10px; /* Add padding to make the buttons larger */
    font-size: 16px; /* Adjust font size */
    background-color: #007bff; /* Set background color */
    color: #fff; /* Set text color */
    border: none; /* Remove border */

}
